<div class="container">
  <div class="header">
    <h1>Список смен</h1>
    <button mat-icon-button color="primary" (click)="addShift()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="shift-list-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> ФИО </th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
      </ng-container>

      <ng-container matColumnDef="dateStart">
        <th mat-header-cell *matHeaderCellDef> Дата начала </th>
        <td mat-cell *matCellDef="let element"> {{element.dateStart | date: 'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="dateEnd">
        <th mat-header-cell *matHeaderCellDef> Дата окончания </th>
        <td mat-cell *matCellDef="let element"> {{element.dateEnd | date: 'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="typeCrane">
        <th mat-header-cell *matHeaderCellDef> Тип крана </th>
        <td mat-cell *matCellDef="let element"> {{element.typeCrane === 'double' ? 'Двойной' : 'Одиночный'}} </td>
      </ng-container>

      <ng-container matColumnDef="submerged">
        <th mat-header-cell *matHeaderCellDef> Погружено тонн </th>
        <td mat-cell *matCellDef="let element"> {{element.submerged}}т </td>
      </ng-container>

      <ng-container matColumnDef="unloaded">
        <th mat-header-cell *matHeaderCellDef> Выгруженно тонн </th>
        <td mat-cell *matCellDef="let element"> {{element.unloaded}}т </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editShift(element.id)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let index = index">
          <button mat-icon-button class="delete-button" color="primary" (click)="deleteShift(element)">
            <mat-icon>close</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
